/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Vite ka 'place-items: center' hata diya */
  min-width: 100%;
  min-height: 100vh;
  background-color: #0b3d2e; /* Malaika Noor wala dark green background */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}